
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1e2d3b;
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
